<!-- FOOTER -->
<div class="footer col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-md-12 pink font-size-13 text-center">
            
            <div class="col-md-12 margin-top-20">

                <img src="app/assets/images/bruno_ferreira.jpg" class="img-circle" title="Bruno Ferreira" alt="Bruno Ferreira" height="80" width="80" />
                
                <div class="margin-top-10">
                    <a href="https://github.com/nobruferreira/Challenge" target="_blank" class="hover-text-decoration-none">
                        <img src="app/assets/images/icon_github.png" class="img-circle" title="Github - Bruno Ferreira" alt="https://github.com/nobruferreira/Challenge" />
                    </a> &nbsp;
                    <a href="http://www.linkedin.com/in/nobruferreira" target="_blank">
                        <img src="app/assets/images/icon_linkedin.png" class="img-circle" title="Linkedin - Bruno Ferreira" alt="http://www.linkedin.com/in/nobruferreira" />
                    </a>
                </div>

            </div>

            <div class="col-md-12 margin-top-10">
                <span class="copyright">
                    <strong> Bruno Ferreira - Developer Web and Mobile </strong>
                </span>
                <br />
                <span>
                    © Copyright - 2017. Todos os direitos reservados.
                </span>
            </div>

        </div>
    </div>
</div>
